.game-board {
    width: 100%;
    height: 500px;
    background: linear-gradient(#87CEEB, #E0F6FF);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.game-obstacle {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: game-obstacle-animation 1.5s infinite linear;
}

.game-hero {
    position: absolute;
    bottom: 0;
    width: 150px;
}

.hero-skill {
    animation: game-hero-animation 500ms ease-out;
}

.game-clouds {
    position: absolute;
    width: 550px;
    animation: game-clouds-animation 10s infinite linear;
}

.game-gram {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: -100px;
}

@keyframes game-obstacle-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes game-hero-animation {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes game-clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}