.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.game-obstacle {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: game-obstacle-animation 2s infinite linear;
}

.game-hero {
    position: absolute;
    bottom: 0;
    width: 150px;
    animation: game-hero-animation 500ms ease-out;
}

@keyframes game-obstacle-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes game-hero-animation {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}